.main-page {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    align-items: center;
}

.post-link {
    text-align: left;
    border: black solid 1px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    display: block;
    background-color: transparent;
    font-size: 20px;
    margin: 16px auto;
    padding: 10px;
    width: 60%;
}
