.main-page {
    display: flex;
    flex-direction: column;
    width: 76%;
    margin: auto;
    padding: 16px 32px;    
    align-items: center;
    position: absolute;
    right: 0;
}

.post-link {
    text-align: left;
    display: block;
    font-size: 20px;
    padding: 4px;
    width: 90%;
}

.comments-section {
    margin: 40px 0 0;
}

.comment-container {
    border-top: 1px solid darkgray;
    margin: 8px 0 8px;
}

.comment-container:last-of-type {
    border-bottom: 1px solid darkgray;
}

.comment-item {
    margin: 8px 0;
}

.comment-label {
    font-weight: bold;
}